*.loa
*.aux
*.brf
*.out
*.lot
*.log
*.lof
*.toc
*.blg
*.dvi
*.bbl
*.elc
*.nav
*.snm
*.pyc
*.vrb
*.dblite
*~
diss.pdf
*.fdb_latexmk
*.fdb_latexmk
*.gz
*.fdb_latexmk
*.fdb_latexmk
*.fls
*.gz
*.fdb_latexmk
*.gz
